extends layout

block content
	#nest-contributors
	script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js')
	script(type='text/javascript', src='/scripts/contributors.js')
	| <script src="/scripts/html5shiv.js"></script>
	script#contributorTemplate(type='text/x-jQuery-tmpl')
		<h2>Contributors</h2>
		<p>A special shout out to the ${count} people awesome enough to contribute back!</p>
		{{each data}}
		{{if login != "invalid-email-address"}}
		<div style="float:left;width:48px;">
		<a href="https://github.com/${login}">
		<img width="48" title="${name ? name.replace(" ", " '" + login + "' ") + "!" : login}" height="48" src="http://gravatar.com/avatar/${gravatar_id}" alt="${name || login}" style="float:left;" />
		</div>
		</a>
		{{/if}}
		{{/each}}

